# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
/.build
/Packages
*.xcodeproj
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Xcode
xcuserdata/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# App Bundles
*.app

# Code Injection
iOSInjectionProject/

# CocoaPods
Pods/
*.podspec

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# User-specific
*.perspectivev3
!default.perspectivev3
*.mode1v3
*.mode2v3

# Other
*.swp
*~.nib
.vscode/
.idea/
